@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: rgb(var(--foreground-rgb));
  
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
/* } */

:root {
  --foreground:0,0,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

@layer base{
  h1{
    @apply font-extrabold text-2xl; 
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
